/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

/* Styles */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  background: url('http://i.imgur.com/9kh3G8L.jpg') no-repeat center center fixed;
  background-size:cover;
}
.profile-card{
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 4px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
  width:480px;
  max-width: calc(100vw - 10px);
  
}
.head{
  text-align:center;
  width:90%;
  margin:0 auto 10% auto

}
.content{
  width:90%;
  margin:0 auto;
  padding:5% 10%;
  border-top: 1px solid hsla(0, 0%, 30%, .8);
}
.profile-pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
.links{
  text-align: center;
}
img {
  padding: 1px;
  background-color: #666;
  transition: all 0.5s ease-in-out;
  filter: grayscale(50%);
}
img:hover {
  transform: scale(1.1);
  filter: grayscale(20%);
}