*{
    box-sizing: border-box;
}
a{
    color: white;
}
a:hover{
    color: white;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 15rem;
    max-width: 15rem;
    transition: all 0.3s;
    background-color: #112316;
}

#sidebar.active {
    margin-left: -15rem;
}

.sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;

}



#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: inline-block;
}

a[data-toggle="collapse"] {
    position: relative;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
.menu::after{
    display:block;
    content:"";
    background-color:#4a584e;
    height:1px;
    margin: .5rem auto;
    width: 15rem;
}
#desktopToggle{
    color: white;
    background-color: transparent;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
@media (min-width: 768px) {
    #sidebarCollapse{
        display: none;
    }
}
.contact{
    display: inline-block !important;
    font-size: 0.8rem;
    padding: 0 !important;
    margin: 0 !important;
}
p.contact{
    color: white;
    margin-left: 0.3rem!important;
}
a.contact{
    color: rgb(16,124,62) !important;
}

.header{
    background-color: #4ebd5f !important;
    margin-top: -1.25rem;
    margin-right: -2rem;
    margin-left: -1.3rem !important;
    height: 3rem !important;
    
}
.personal-menu{
    background-color: #4ebd5f;
    margin-right: -1rem;
}
a.nav-link{
    margin-right: 1rem;
}
.sidebar{
    margin-top: -0.2rem !important;
    float: left;
    display: inline-block;
}
.togglebar{
    margin-top: -0.2rem !important;
    float: right;
    display: inline-block;

}
.form{
    margin-top: -1.3rem;
    width: 12rem;
    display: inline-block;

}

.custom-select{
    background-color: rgb(54, 181, 74) !important;
    border-color: #31a243;
}
a.nav-link{
    color:black !important;
}

.logo{
    width: 13rem;
    height: 5rem;
    margin: 0.5rem auto;
}
.components{
    margin-top: 4rem;
}
#date{
    background-color: #31a243!important;
    width: 18.75rem;
    height: 3rem !important;
    color: #112316;
    float: left;
    font-size: 15pt;
}
#date p{
    margin-top: 0.5rem;
    margin-left: 2rem;
}
.fa-power-off{
    display: inline !important;
}
.list-unstyled{
    margin: 0 !important;
    padding: 0 !important;
    color: white;
    line-height: 1;
    font-size: 14px !important;
    margin: auto;
    text-align: center;
}
.furl{
    padding: 0;
    border: none;
    background: none;
}
.table{
    margin-left: 14rem;
    margin-top: 2rem;
}
.save{
    margin-left: 14rem;
}